<div class="row profile-selector starter-template">
      <form class="form-inline">
              <div class="form-group">
                  <select ng-model="profile" ng-options="profile.name for profile in profiles" class="form-control"></select>
              </div>
              <button ng-click="displayProfilePerformance()" type="button" class="btn btn-primary">Add Profile</button>
      </form>
</div>
   
<div class="row">
  <performance-chart control="chart" ng-hide="showHelp"></performance-chart>
  <div class="jumbotron" ng-show="showHelp">
       <p>Start by selecting one of the profiles available on server, and cick 'Add Profile', to see how the HAR file is performing over time.</p>
  </div>  
</div>

   

